.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 0;
  position: relative;
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
}

.app-bar {
  display: flex;
  justify-content: space-between;
}

.app-bar h1 {
  font-size: 1.5em;
  margin: 0;
  display: inline-block;
  margin-right: 1em;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  background: transparent;
  padding: 24px;
  box-sizing: border-box;
  min-height: calc(100vh - 64px);
}

.MuiAppBar-root {
  z-index: 1200 !important;
}

.MuiDrawer-paper {
  z-index: 1400 !important;
}
